<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <div class="container" ng-app="myApp" ng-controller="formCtrl">
        <form>
                <label for="uname"><b>Username</b></label>
                <input ng-model="username">
            
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" ng-model="pw"> 
                <label for="token"><b>token</b></label>
                <p>{{ token }}</p>
                <button ng-click="submit()">Login</button>
                <button ng-click="getData()">Data</button>
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
        </form>    
      </div>
      <script>
            var app = angular.module('myApp', []);
            app.controller('formCtrl', function($scope, $http) {
                var token = '';
                $scope.submit = function() {
                    console.log($scope.username);
                    $http({
                        method : "POST",
                        url : "login",
                        data: {'uname': $scope.username,
                                'pw': $scope.pw }
                        
                    }).then(function mySuccess(response) {
                        console.log(response.data);
                        token = response.data.token;
                        $scope.token = response.data;

                    }, function myError(response) {
                        $scope.myWelcome = response.statusText;
                    });
                }

                $scope.getData = function() {
                    $http({
                        method : "GET",
                        url : "user",
                        headers: {'Authorization': "Bearer " + token}
                    }).then(function mySuccess(response) {
                        console.log(response.data);
                    }, function myError(response) {
                        console.log(response.data);
                        console.log("get data error");
                    });
                }
            });
        </script>
</body>
</html>