input.ng-dirty.ng-invalid{
    border-color: red;
}

a {
    cursor: pointer;
}

.container {
    background-color: #f5f5f5;
}

table th {
    background-color: #bbb;
}

.title {
    height: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    background-color: #428bca;
    font-size: 30px;
    color: white;
}

.footer {
    height: 50px;
    width: 100%;
    text-align: right;
    background-color: #428bca;
    font-size: 14px;
    padding-top: 30px;
    padding-right: 10px;
    color: white;
}

.btn-add {
    float: right;
    margin-right: 10px;
}

.modal-header {
    background-color: #428bca;
}

