<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="../js/myapp.js"></script>
</head>
<body>
    <div class="container" ng-app="myApp" ng-controller="infoCtrl">
        Hello {{ username }}
    </div>
    <script>
        var app = angular.module('myApp', []);
            app.controller('infoCtrl', function($scope) {
                var token = sessionStorage.getItem("access_token");
                var t = token != null ? "Bearer " + sessionStorage.getItem("access_token") : "";
                $http ({
                    method : "GET",
                    url : "/getuser",
                    headers: {'Authorization': t}
                }).then(function mySuccess(response) {
                    scope.username = response.data
                }, function myError(response) {
                    $scope.msg = response.data.msg;
                });
            });
    </script>
</body>
</html>