<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <script src="/static/lib/jquery.min.js"></script>
        <script src="/static/lib/angular.min.js"></script>
        <script src="/static/lib/angular-route.js"></script>
        <script src="/static/lib/bootstrap.min.js"></script>
        <script src="/static/lib/angular-datatables.min.js"></script>
    
</head>
<body ng-app="myApp">
        
        <p><a href="#/!login">Login</a></p>
        <script src="../static/js/myapp.js"></script>
</body>
</html>