<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h1 class="text-success text-center">Login</h1>
			<div ng-show="hasError">
				<div class="alert alert-danger">
					<strong>{{ '{{msg}}' }}</strong>
				</div>
			</div>
		<form ng-submit="submit()">
			<div class="form-group">
				<label for="txtaccnum" class="control-label">Username</label>
				<input type="text" class="form-control" placeholder="Enter Username" name="username" ng-model="user.username" id="txtusername" required>
			</div>
			<div class="form-group">
				<label for="txtpassword" class="control-label">Password</label>
				<input type="password" class="form-control" placeholder="Enter Username" name="password" ng-model="user.password" id="txtpassword" required>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Login</button>
			</div>
		</form>
	</div>
</div>
